@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
#site {
    background-color: #e0ebe8;
}
#section-one {
    text-align: center; 
}
.intro {
    color: #45b29a;
}
#h1 {
    font-family: 'Rouge Script', cursive;
    font-size: 3.5em;
}
#p {
    font-size: 1.3em;
}
#landscape {
    width: 100%;
    padding-top: 40px;
}

#button-list {
    display: flex;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 0;
}
#projects {
    padding:0 20px;
}
#projects-link {
    text-decoration: none;
    color: #45b29a;
}
#about-link {
    text-decoration: none;
    color: #45b29a;
}
#graduation {
    width: 50%;
    padding-top: 30px;
}
#section-two {
    text-align: center;
}
#hi {
    font-size: 2em;
    color: #45b29a;
    font-family: 'Darker Grotesque', sans-serif;
}
#description {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    line-height: 1.7;
    color: #545454;
}
#a-tag {
    text-decoration: none;
    color: #45b29a;
}
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
#code {
    height: 100px;
    padding-right: 25vw;
}
#vue {
    height: 100px;
}
#section-three {
    text-align: center;
    margin-top: 10vh;
}
#what {
    font-size: 2em;
    color: #1e836c;
    font-family: 'Darker Grotesque', sans-serif; 
}
#front {
    color: #45b29a;
    font-family: 'Darker Grotesque', sans-serif;
}
#vue-p{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    line-height: 1.7;
    color: #545454;
}
