@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
#site {
    background-color: #e0ebe8;
}
#section-one {
    text-align: center; 
}
.intro {
    color: #45b29a;
}
#h1 {
    font-family: 'Rouge Script', cursive;
    font-size: 3em;
}
#p {
    font-size: 1.3em;
}
#landscape {
    width: 100%;
}

#button-list {
    display: flex;
    list-style: none;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-left: 0px;
}
#projects {
    padding:0 20px;
}
#projects-link {
    text-decoration: none;
}
#about-link {
    text-decoration: none;
}